.custom-drag-layout-wrap {
    background-color: #eee;
    width: 100%;
    height: 30px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    .card_drag {
        padding: 6px 8px;
        overflow: hidden;
    }
}